<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <!--<script>-->
        <!--$(function () {-->
            <!--$("#datepicker").datepicker();-->
            <!--format: 'dd-MM-yyyy'-->
        <!--});-->
    <!--</script>-->
</head>

<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href=".."><img th:src="@{/images/logo.png}" alt="Logo"></a>
            <a class="navbar-brand hidden" href=".."><img th:src="@{/images/logo2.png}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a th:href="@{/catalogs}">Catalog</a></li>
                        <li><i class="fa fa-id-badge"></i><a th:href="@{/products}">Product</a></li>
                        <li><i class="fa fa-bars"></i><a th:href="@{/producers}">Producer</a></li>
                        <li><i class="fa fa-share-square-o"></i><a th:href="@{/transactions}">Transaction</a></li>
                        <li><i class="fa fa-id-card-o"></i><a th:href="@{/customers}">Customer</a></li>
                        <li><i class="fa fa-exclamation-triangle"></i><a th:href="@{/promotions}">Promotion</a></li>
                        <li><i class="fa fa-spinner"></i><a th:href="@{/details}">Detail</a></li>
                    </ul>
                </li>


                <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i><a th:href="@{/login}">Login</a></li>
                        <li><i class="menu-icon fa fa-sign-in"></i><a th:href="@{/register}">Register</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    th:src="@{/images/avatar/1.jpg}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    th:src="@{/images/avatar/2.jpg}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    th:src="@{/images/avatar/3.jpg}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar"
                                                                    th:src="@{/images/avatar/4.jpg}"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" style="margin-top: 6px;">
                        HELLO: admin@gmail.com
                    </div>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" th:src="@{/images/admin.png}" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">


                        <a class="nav-link" th:href="@{/logout_page}"><i class="fa fa-power-off"></i> Logout</a>
                    </div>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <div class="breadcrumb text-right">
                        <form action="#" th:action="@{/customer/search}" method="post">
                            <div class="input-group">
                                <input type="text" name="Name" class="form-control" placeholder="Search Customer" autocomplete="off">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">

                        <div class="card-header">
                            <strong class="card-title">Add Customer</strong>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/customer}" th:object="${Customer}">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{id}" class="form-control"
                                           id="formGroupExampleInput">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Tên Khách Hàng</label>
                                    <input type="text" th:field="*{Name}" class="form-control"
                                           id="formGroupExampleInput1" placeholder="Name" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Số điện thoại</label>
                                    <input type="text" th:field="*{Phone}" class="form-control"
                                           id="formGroupExampleInput2" placeholder="Phone" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput3">Địa chỉ</label>
                                    <input type="text" th:field="*{Address}" class="form-control"
                                           id="formGroupExampleInput3" placeholder="Address" autocomplete="off">
                                </div>
                               <!-- <div class="form-group">
                                    <label for="formGroupExampleInput">Ngày tạo</label>
                                    <input type="date" name="date" class="form-control" id="datepicker">
                                </div>-->
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Table Customer</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <th:block th:if="${#lists.isEmpty(customers)}">
                                    <h5>No customer found</h5>
                                </th:block>
                                <th:block th:unless="${#lists.isEmpty(customers)}">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Create Date</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="customer : ${customers}">
                                        <th scope="row" th:text="${customer.id}"></th>
                                        <td th:text="${customer.Name}"></td>
                                        <td th:text="${customer.Phone}"></td>
                                        <td th:text="${customer.Address}"></td>
                                        <td th:text="${#dates.format(customer.CreateDate, 'dd-MM-yyyy')}"></td>
                                        <td><a th:href="${'/customer/edit/'+customer.id}"
                                               class="btn btn-outline-success"><i
                                                class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                        <td><a th:href="${'/customer/delete/'+customer.id}"
                                               class="btn btn-outline-danger"><i class="fa fa-trash"
                                                                                 aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


</body>

</html>
